
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', sans-serif;
}

.menu-container {
    display: none; 
    width: 247px;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: absolute; 
    z-index: 100;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    height: 40px;
    padding: 8px;
    gap: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
}

.menu-item img {
    width: 24px;
    height: 24px;
    display: block;
    transition: fill 0.3s ease;
}

.menu-item span {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #333; 
    display: block;
    transition: color 0.3s ease;
}

.menu-item:hover {
    background-color: #f0f0f0;
    border-radius: 8px;
}

.menu-item:hover img {
    filter: brightness(0) saturate(100%) invert(30%) sepia(70%) saturate(700%) hue-rotate(260deg) brightness(100%) contrast(95%);
}

.menu-item:hover span {
    color: #5f0080;
}

.toggle-button {
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 12px; 
    padding: 4px; 
    width: auto; 
    height: auto; 
    position: relative; 
}

:host(:hover) .menu-container {
    display: flex;
}