@import url('/src/styles/a11y.css');

.cart-product {
  display: flex;
  width: 46.375rem;
  padding: 1.25rem 0rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.cart-product__checkbox {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
}

.cart-product__checkbox-icon {
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: url('../../assets/icons/isChecked=false.svg') no-repeat
    center/cover;
}

.cart-product__checkbox:checked + .cart-product__checkbox-icon {
  background: url('../../assets/icons/isChecked=true.svg');
}

.cart-product__image {
  width: 3.75rem;
  height: 4.875rem;
}

.cart-product__figure {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 28.125rem;
}

.cart-product__detail-page {
  text-decoration: none;
}

.cart-product__detail-page--desc {
  height: 1.5rem;
}

.cart-product__desc,
.cart-product__product-number,
.cart-product__product-price {
  color: var(--black, #000);
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
  font-size: var(--text-base);
  font-style: normal;
  font-weight: var(--font-semibold);
  line-height: var(--text-2xl);
}

.cart-product__product-price {
  width: 7.9375rem;
  height: 1.5rem;
  display: flex;
  justify-content: flex-end;
}

.cart-product__count-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0.0625rem solid var(--gray--200, #c4c4c4);
  width: 5.25rem;
  height: 1.875rem;
}

.cart-product__button-plus,
.cart-product__button-minus {
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
  color: var(--content, #333);
  border: 0;
  background-color: transparent;
  font-size: var(--text-xl);
  font-family: 'Pretendard Variable', Pretendard, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.cart-product__button-plus:disabled,
.cart-product__button-minus:disabled {
  color: var(--gray--300, #a6a6a6);
}

.cart-product__button-delete {
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
  border: 0;
  background-color: transparent;
  padding: 0;
}

.cart-product__product-price-original {
  width: 6.25rem;
  display: flex;
  justify-content: flex-start;
  color: var(--gray--200, #c4c4c4);
}
