/* 이용 약관 동의 */
.register__agreement {
  border-bottom: 0.0625rem solid var(--gray--200);
  display: flex;
  flex-direction: row;
  gap: 3.125rem;
  padding-block: 1.25rem;
  color: var(--content);
  font-size: var(--text-base);
  font-weight: var(--font-regular);
  line-height: var(--line-height-semirelaxed);
}

.register__agreement-label {
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  line-height: var(--line-height-normal);
}

.register__agreement-label-wrapper {
  width: 6.875rem;
  padding-left: 0.625rem;
}

.register__label-required {
  color: var(--info---error);
}

.register__agreement-checklist {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
