<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Popup</title>
    <link rel="stylesheet" href="./PopupAd.css">
</head>
<body>
    <!-- 팝업 창 -->
    <div class="popup">
        <div class="popup-content">
            <div class="popup-image"></div>
            <div class="popup-text">
                <p>
                    해당 사이트는 가시안이며 비상업적 취업을 위한<br>
                    포트폴리오 용으로만 사용하기 위해 제작된 사이트입니다.
                </p>
            </div>
            <div class="popup-footer">
                <div id="close-today" class="footer-btn">오늘 하루 안 보기</div>
                <div id="close-popup" class="footer-btn">닫기</div>
            </div>
        </div>
    </div> 

    <script src="./PopupAd.js"></script>
</body>
</html>